<md-list >
  <md-subheader class="md-no-sticky">
    <md-button class="md-raised md-primary"
      ng-show="guidesCtrl.nuevaActividad"
      ng-disabled="guidesCtrl.cargando"
      ng-click="guidesCtrl.addGuide()">
      {{'activity.anadir.guia' | translate}}
    </md-button>
    <md-button class="md-raised md-warn"
      ng-show="guidesCtrl.nuevaActividad"
      ng-disabled="guidesCtrl.cargando"
      ng-click="guidesCtrl.emptyGuidesList()">
      {{'activity.eliminar.guias' | translate}}
    </md-button>
  </md-subheader>
  <md-list-item class="md-2-line" ng-repeat="guide in guidesCtrl.guides track by $index">
    <div class="md-list-item-text" layout="column">
      <h3>Guía</h3>
      <h3> {{guide.login}} </h3>
    </div>
    <md-button class="md-secondary md-icon-button"
      ng-click="guidesCtrl.removeGuide($index)" aria-label="call"
      ng-show="guidesCtrl.nuevaActividad">
      <md-icon class="material-icons md-18" style="color: #50D050">close</md-icon>
    </md-button>
  </md-list-item>
</md-list>

<div class="alert alert-danger" ng-show="guidesCtrl.guidesError">
  <strong>{{guidesCtrl.guidesError}}</strong>
</div>
