<form ng-keydown="$event.which === 13 && !registerCtrl.loading && registerCtrl.login()"
    name='registerForm' novalidate>
  <div class="form-group has-feedback">
    <md-input-container class="md-block" flex-gt-sm>
      <md-icon class="material-icons md-24" style="color: #50D050">email</md-icon>
      <input type="email" placeholder="{{'correo' | translate}}"
        ng-model='registerCtrl.email' name="email"
        ng-click='registerCtrl.disableErrors()' required
        ng-pattern="registerCtrl.emailFormat">
      <span class="text-red" ng-if="registerForm.email.$invalid && registerForm.email.$touched">
        {{'error.registro.email.required' | translate}}
      </span>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <md-icon class="material-icons md-24" style="color: #50D050">person</md-icon>
      <input placeholder="{{'nombre' | translate}}"
        ng-model='registerCtrl.username' name="username"
        ng-click='registerCtrl.disableErrors()' required
        ng-minlength="4"
        ng-maxlength="20" md-maxlength="20">
      <span class="text-red" ng-if="registerForm.username.$invalid && registerForm.username.$touched">
        {{'error.registro.usernameDetailed.required' | translate}}
      </span>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <md-icon class="material-icons md-24" style="color: #50D050">lock_outline</md-icon>
      <input type="password" placeholder="{{'password' | translate}}"
        ng-model='registerCtrl.password' name="password"
        ng-click='registerCtrl.disableErrors()' required
        ng-maxlength="256" md-maxlength="256">
      <span class="text-red" ng-if="registerForm.password.$invalid && registerForm.password.$touched">
        {{'error.registro.password.required' | translate}}
      </span>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <input type="password" placeholder="{{'repite.password' | translate}}"
        ng-model='registerCtrl.repassword' name="repassword"
        ng-click='registerCtrl.disableErrors()'
        password-verify='registerCtrl.password' required>
      <span class="text-red" ng-if="registerForm.repassword.$error.required && registerForm.repassword.$touched">
        {{'error.registro.password.required' | translate}}
      </span>
      <span class="text-red" ng-show="registerForm.repassword.$error.passwordVerify">
        {{'error.registro.password.coinciden' | translate}}
      </span>
    </md-input-container>
  </div>
  <div ng-show="registerCtrl.errors">
    <p>{{ registerCtrl.errors }}</p>
  </div>
  <md-button class="md-raised md-primary" ng-click="registerCtrl.register()"
    ng-disabled="registerCtrl.loading || registerForm.$invalid">{{'registrarse' | translate}}</md-button>
</form>
