<ui-gmap-google-map refresh="trackCtrl.refreshType"
  center='trackCtrl.map.center' zoom='trackCtrl.map.zoom' control='trackCtrl.map.control'
    options="trackCtrl.mapOptions">

  <ui-gmap-polyline path="trackCtrl.track.path" stroke="trackCtrl.track.stroke"
    geodesic='trackCtrl.track.geodesic' fit="false" editable="false"
    draggable="false" icons='trackCtrl.track.icons'>
  </ui-gmap-polyline>

  <ui-gmap-markers models="trackCtrl.markers" coords="'self'"
    options="'options'" icon="'icon'">
  </ui-gmap-markers>

  <ui-gmap-map-type options="trackCtrl.OSM" id="OSM" show="false">
  </ui-gmap-map-type>

  <ui-gmap-map-type options="trackCtrl.PNOA" id="PNOA" show="false">
  </ui-gmap-map-type>

  <ui-gmap-map-type options="trackCtrl.RASTER" id="RASTER" show="false">
  </ui-gmap-map-type>

</ui-gmap-google-map>
