<md-button aria-label="Editar" class="md-fab md-raised md-mini"
   ng-click="toolsCtrl.editActivity()" ng-disabled="toolsCtrl.isActivityClosed()">
  <md-tooltip md-direction="bottom" md-visible="toolsCtrl.tooltipVisible"
              md-autohide="false" ng-disabled="true">
    "Editar"
  </md-tooltip>
  <md-icon class="material-icons md-18" style="color: #50D050">mode_edit</md-icon>
</md-button>

<md-button aria-label="Monitorizar" class="md-fab md-raised md-mini"
   ng-click="toolsCtrl.monitorizar()" ng-disabled="toolsCtrl.isActivityClosed()">
  <md-tooltip md-direction="top" md-visible="toolsCtrl.tooltipVisible"
              md-autohide="false" ng-disabled="true">
    "Monitorizar"
  </md-tooltip>
  <md-icon class="material-icons md-18" style="color: #50D050">visibility</md-icon>
</md-button>

<md-button aria-label="Eliminar" class="md-fab md-raised md-mini"
   ng-click="toolsCtrl.deleteActivity()" ng-disabled="!toolsCtrl.isActivityPending() || toolsCtrl.isActivityClosed()">
  <md-tooltip md-direction="top" md-visible="toolsCtrl.tooltipVisible"
              md-autohide="false" ng-disabled="true">
    "Eliminar"
  </md-tooltip>
  <md-icon class="material-icons md-18" style="color: #50D050">delete_forever</md-icon>
</md-button>
