<form ng-keydown="$event.which === 13 && !loginCtrl.loading && loginCtrl.login()"
    name='loginForm' novalidate>
  <div class="form-group has-feedback">
    <md-input-container class="md-block" flex-gt-sm>
      <md-icon class="material-icons md-24" style="color: #50D050">person</md-icon>
      <input placeholder="{{'nombre' | translate}}"
        ng-model='loginCtrl.username' name="username"
        ng-click='loginCtrl.disableErrors()' required>
      <span class="text-red" ng-if="loginForm.username.$invalid && loginForm.username.$touched">
        {{'error.login.username.required' | translate}}
      </span>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container class="md-block" flex-gt-sm>
      <md-icon class="material-icons md-24" style="color: #50D050">lock outline</md-icon>
      <input type="password" placeholder="Password"
        ng-model='loginCtrl.password' name="password"
        ng-click='loginCtrl.disableErrors()' required>
      <span class="text-red" ng-if="loginForm.password.$invalid && loginForm.password.$touched">
        {{'error.login.password.required' | translate}}
      </span>
    </md-input-container>
  </div>
  <div ng-show="loginCtrl.errors">
    <p>{{loginCtrl.errors}}</p>
  </div>
  <md-button class="md-raised md-primary" ng-click="loginCtrl.login()"
    ng-disabled="loginCtrl.loading">Login</md-button>
  <md-button class="md-primary" ng-disabled="loginCtrl.loading"
    ng-click="loginCtrl.recuperarCuenta($event)">
    {{"recuperar" | translate}}
  </md-button>
</form>
