<form ng-keydown="$event.which === 13 && !loginCtrl.loading && loginCtrl.login()"
    name='loginForm' novalidate>
  <div class="form-group has-feedback">
    <md-input-container class="md-block" flex-gt-sm>
      <input placeholder="Nombre de usuario"
        ng-model='loginCtrl.username' name="username"
        ng-click='loginCtrl.disableErrors()' required>
      <span class="text-red" ng-if="loginForm.username.$invalid && loginForm.username.$touched">
        Debes introducir tu nombre de usuario!
      </span>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container class="md-block" flex-gt-sm>
      <input type="password" placeholder="Password"
        ng-model='loginCtrl.password' name="password"
        ng-click='loginCtrl.disableErrors()' required>
      <span class="text-red" ng-if="loginForm.password.$invalid && loginForm.password.$touched">
        Debes introducir tu contraseña!
      </span>
    </md-input-container>
  </div>
  <md-button class="md-raised md-primary" ng-click="loginCtrl.login()"
    ng-disabled="loginCtrl.loading">Login</md-button>
</form>
