<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <form name='signupForm' novalidate>
        <div class="form-group has-feedback">
          <md-input-container class="md-block" flex-gt-sm>
            <input placeholder="Nombre de usuario"
              ng-model='loginCtrl.username' required>
          </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container class="md-block" flex-gt-sm>
            <input type="password" placeholder="Password"
              ng-model='loginCtrl.password' required>
          </md-input-container>
        </div>
        <md-button class="md-raised md-primary" ng-click="loginCtrl.login()">Login</md-button>
      </form>
    </div>
  </div>
</div>
