<loading></loading>
<md-content layout-gt-sm="row" layout-padding>
  <div>
    <md-input-container>
      <label>Nombre de usuario</label>
      <input ng-model="profileCtrl.user.login" disabled>
    </md-input-container>

    <md-input-container>
      <label>Email</label>
      <input ng-model="profileCtrl.user.email" type="email" disabled>
    </md-input-container>
  </div>
</md-content>
<md-button class="md-primary md-raised" ng-click="profileCtrl.mostrarDialog($event)"  >
  Cambiar password
</md-button>
<md-button class="md-warn" ng-click="profileCtrl.eliminar($event)">Eliminar cuenta</md-button>
