<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-content>
        <md-toolbar layout="row" class="md-hue-3" ng-show="activityCtrl.isOwner">
          <div class="md-toolbar-tools" layout="row">
            <div flex ng-show="activityCtrl.nuevaActividad">
              <span>
                <md-icon class="material-icons md-18" style="color: #50D050">terrain</md-icon>
                <label>
                  {{'activity.datos.generales' | translate}}
                  <md-button class="md-primary"
                    ng-show="activityCtrl.editando"
                    ng-disabled="true">
                      {{'activity.editando' | translate}}
                  </md-button>
                </label>
              </span>
            </div>
            <tools-options ng-show="activityCtrl.isOwner"
              activity="activityCtrl.activity"
              on-error="activityCtrl.onError(error)"
              on-loading="activityCtrl.onLoading(loading)"
              monitorizar="activityCtrl.monitorizarActividad()">
            </tools-options>
          </div>
        </md-toolbar><br>
        <form name='actForm' novalidate>
          <div ng-show="activityCtrl.nuevaActividad">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{'activity.descripcion.breve' | translate}}</label>
              <textarea ng-model="activityCtrl.activity.shortDescription" md-select-on-focus
                ng-maxlength="250" md-maxlength="250" name="shortDescription" required>
              </textarea>
              <span class="text-red" ng-if="actForm.shortDescription.$invalid && actForm.shortDescription.$touched">
                {{'activity.description.required' | translate}}
              </span>
            </md-input-container>
          </div>
          <div ng-show="!activityCtrl.nuevaActividad">
            <label>{{'activity.organizador' | translate}}: </label> <span>{{activityCtrl.activity.owner.email}}</span>
          </div><br>

          <div  ng-show="!activityCtrl.nuevaActividad && !activityCtrl.editando">
            <md-input-container class="md-block" flex-gt-sm>
              <textarea ng-disabled="true"
                ng-model="activityCtrl.activity.shortDescription">
              </textarea>
            </md-input-container>
          </div>

          <div  ng-show="activityCtrl.nuevaActividad || activityCtrl.editando || activityCtrl.activity.longDescription">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{'activity.descripcion.ruta' | translate}}</label>
              <textarea ng-disabled="!activityCtrl.nuevaActividad"
                ng-model="activityCtrl.activity.longDescription" md-select-on-focus
                ng-maxlength="500" md-maxlength="500" name="longDescription">
              </textarea>
            </md-input-container>
          </div>
          <div ng-show="{{activityCtrl.nuevaActividad || activityCtrl.editando}}">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{'activity.enlace.descripcion' | translate}}</label>
              <textarea ng-disabled="!activityCtrl.nuevaActividad"
                ng-model="activityCtrl.activity.mide" md-select-on-focus
                ng-maxlength="100" md-maxlength="100" name="mide">
              </textarea>
            </md-input-container>
          </div>
          <div ng-show="!activityCtrl.nuevaActividad && !activityCtrl.editando && activityCtrl.activity.mide">
            <a class="enlaceMIDE" target="_blank" href="{{activityCtrl.activity.mide}}">{{'activity.enlace.mide' | translate}} ({{activityCtrl.activity.mide}})</a>
          </div><br>
          <div ng-show="activityCtrl.nuevaActividad || $ctrl.editando || activityCtrl.activity.maxPlaces">
            <md-input-container>
              <label>{{'activity.plazas' | translate}}</label>
              <input ng-disabled="!activityCtrl.nuevaActividad"
                type="number" step="any"
                ng-model="activityCtrl.activity.maxPlaces" min="1"
                max="100" name="maxPlaces" />
            </md-input-container>
          </div>
          <div>
            <md-input-container  class="md-block" flex-gt-sm>
              <label>{{'activity.fecha.comienzo' | translate}}</label>
              <md-datepicker ng-disabled="!activityCtrl.nuevaActividad"
                md-placeholder="{{'activity.fecha' | translate}}" name="startDate"
                ng-model="activityCtrl.activity.startDate" md-hide-icons="calendar"
                md-min-date="activityCtrl.currentDate" required>
              </md-datepicker>
            </md-input-container>
          </div>
          <div ng-show="activityCtrl.nuevaActividad">
            <label>{{'activity.track.gpx' | translate}}</label>
            <span ng-show="activityCtrl.nuevaActividad && activityCtrl.editando">
              <br>
              {{'activity.track.aviso.edicion' | translate}}
            </span>
            <input ng-model="activityCtrl.trackFile"
               onchange="angular.element(this).scope().file_changed(this)"
               type="file" accept=".gpx"/>
          </div>
          <div ng-show="!activityCtrl.nuevaActividad">
            <md-input-container  class="md-block" flex-gt-sm>
              <label>{{'activity.estado.actividad' | translate}} {{ activityCtrl.getActivityStatus() }}</label><br>
              <md-button class="md-raised md-primary"
                ng-disabled="activityCtrl.activity.status == 'PENDING' || activityCtrl.cargando"
                ng-click="activityCtrl.monitorizarActividad()">
                {{activityCtrl.activity.status == 'CLOSED' ? ('activity.ver.resumen' | translate) :
                  ('activity.monitorizar' | translate) }}
              </md-button>
            </md-input-container>
          </div>
        </form>
        <br>
        <loading></loading>
      </md-card-content>
      <div class="alert alert-danger" ng-show="activityCtrl.error">
        <strong>{{activityCtrl.error}}</strong>
      </div>
      <md-button class="md-raised md-primary"
        ng-click="activityCtrl.cancelarEdicion()"
        ng-disabled="activityCtrl.cargando"
        ng-show="activityCtrl.editando">
        {{'activity.cancelar.edicion' | translate}}
      </md-button>
      <md-button class="md-raised md-primary"
        ng-click="activityCtrl.crearActividad()"
        ng-disabled="actForm.$invalid || activityCtrl.cargando"
        ng-show="activityCtrl.nuevaActividad">
        {{'activity.guardar' | translate}}
      </md-button>
    </md-card>
  </div>
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-content>
        <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools">
            <span>
              <md-icon class="material-icons md-18" style="color: #50D050">directions_walk</md-icon>
              <label>{{'activity.guias' | translate}}</label>
            </span>
          </div>
        </md-toolbar>
        <guides-selection
          guides="activityCtrl.guides"
          editando="activityCtrl.editando"
          cargando="activityCtrl.cargando"
          nueva-actividad="activityCtrl.nuevaActividad"
          on-add="activityCtrl.onAddGuide(guide)"
          on-remove="activityCtrl.onRemoveGuide(guide)">
        </guidesSelection>
        <loading></loading>
      </md-card-content>
    </md-card>
  </div>

</md-content>
<md-content class="md-padding" layout="column">
  <md-card ng-show="!activityCtrl.nuevaActividad">
    <md-card-content>
      <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>
            <md-icon class="material-icons md-18" style="color: #50D050">map</md-icon>
            <label>{{'activity.track' | translate}}</label>
          </span>
        </div>
      </md-toolbar><br>
      <activity-track activity-track="activityCtrl.activity.track"></activity-track>
    </md-card-content>
  </md-card>
</md-content>
