<md-content class="md-padding" layout-xs="column" layout="row">

  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-content>
        <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools" layout="row">
            <div flex>
              <span>
                <md-icon class="material-icons md-18" style="color: #50D050">terrain</md-icon>
                <label ng-show="activityCtrl.nuevaActividad">
                  Datos generales de la actividad
                </label>
                <label ng-show="!activityCtrl.nuevaActividad">
                  {{ activityCtrl.activity.shortDescription }}
                </label>
              </span>
            </div>
            <tools-options ng-show="activityCtrl.isOwner"></tools-options>
          </div>
        </md-toolbar><br>
        <form name='actForm' novalidate>
          <div ng-show="activityCtrl.nuevaActividad">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Descripción breve de la actividad</label>
              <textarea ng-model="activityCtrl.activity.shortDescription" md-select-on-focus
                ng-maxlength="40" md-maxlength="40" name="shortDescription" required>
              </textarea>
              <span class="text-red" ng-if="actForm.shortDescription.$invalid && actForm.shortDescription.$touched">
                Debes introducir una breve descripción para la actividad
              </span>
            </md-input-container>
          </div>
          <div ng-show="!activityCtrl.nuevaActividad">
            <label>Organizador de la actividad: </label> <span>{{activityCtrl.activity.owner.email}}</span>
          </div><br>
          <div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Descripción de la ruta de la actividad (o enlace MIDE)</label>

              <textarea ng-disabled="!activityCtrl.nuevaActividad"
                ng-model="activityCtrl.activity.longDescription" md-select-on-focus
                ng-maxlength="250" md-maxlength="250" name="longDescription"
                required>
              </textarea>
              <span class="text-red" ng-if="actForm.longDescription.$invalid && actForm.longDescription.$touched">
                Debes introducir la descripción técnica de la ruta a seguir
              </span>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Plazas (máx. 100)</label>
              <input ng-disabled="!activityCtrl.nuevaActividad" required
                type="number" step="any"
                ng-model="activityCtrl.activity.maxPlaces" min="0"
                max="70" name="maxPlaces"/>
            </md-input-container>
          </div>
          <div>
            <md-input-container  class="md-block" flex-gt-sm>
              <label>Fecha de comienzo</label>
              <md-datepicker ng-disabled="!activityCtrl.nuevaActividad"
                md-placeholder="Fecha" name="startDate"
                ng-model="activityCtrl.activity.startDate" md-hide-icons="calendar"
                md-min-date="activityCtrl.currentDate" required>
              </md-datepicker>
            </md-input-container>
          </div>
          <div ng-show="activityCtrl.nuevaActividad">
            <label>Track de la ruta (gpx)</label>
            <input ng-model="activityCtrl.trackFile"
               onchange="angular.element(this).scope().file_changed(this)"
               type="file" accept=".gpx"/>
          </div>
          <div ng-show="!activityCtrl.nuevaActividad">
            <md-input-container  class="md-block" flex-gt-sm>
              <label>Estado de la actividad: {{ activityCtrl.getActivityStatus() }}</label><br>
              <md-button class="md-raised md-primary"
                ng-disabled="activityCtrl.activity.status != 'RUNNING'">
                Monitorizar
              </md-button>
            </md-input-container>
          </div>
        </form>
        <br>
        <loading></loading>
      </md-card-content>
      <span class="text-red" ng-show="activityCtrl.error">
        {{activityCtrl.error}}
      </span>
      <md-button class="md-raised md-primary"
        ng-click="activityCtrl.crearActividad()"
        ng-disabled="actForm.$invalid || activityCtrl.cargando"
        ng-show="activityCtrl.nuevaActividad">
        Guardar
      </md-button>
    </md-card>
  </div>
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-content>
        <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools">
            <span>
              <md-icon class="material-icons md-18" style="color: #50D050">directions_walk</md-icon>
              <label>Guías de la actividad</label>
            </span>
          </div>
        </md-toolbar>
        <guides-selection
          guides="activityCtrl.activity.guides"
          nueva-actividad="activityCtrl.nuevaActividad"
          cargando="activityCtrl.cargando"
          on-add="activityCtrl.onAddGuide(guide)"
          on-remove="activityCtrl.onRemoveGuide(guide)">
        </guidesSelection>
        <loading></loading>
      </md-card-content>
    </md-card>
  </div>

</md-content>
<md-content class="md-padding" layout="column">
  <md-card ng-show="!activityCtrl.nuevaActividad">
    <md-card-content>
      <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>
            <md-icon class="material-icons md-18" style="color: #50D050">map</md-icon>
            <label>Track de la ruta</label>
          </span>
        </div>
      </md-toolbar><br>
      <activity-track activity-track="activityCtrl.activity.track"></activity-track>
    </md-card-content>
  </md-card>
</md-content>
