<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Actividades</span>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table
      md-row-select="true" ng-model="actListCtrl.selected" multiple="false">
    <thead md-head md-order="actListCtrl.order"
      md-progress="actListCtrl.promise">
      <tr md-row>
        <th md-column md-order-by="id">ID</th>
        <th md-column md-order-by="startDate">Fecha</th>
        <th md-column md-order-by="maxPlaces">Plazas máximas</th>
        <th md-column md-order-by="shortDescription">Descripción</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="activity in actListCtrl.activities |
          limitTo: actListCtrl.itemsPage : (actListCtrl.page - 1) * actListCtrl.itemsPage |
          orderBy: actListCtrl.order" ng-click="actListCtrl.onSelect(activity)">
        <td md-cell>{{activity.id}}</td>
        <td md-cell>{{activity.startDate}}</td>
        <td md-cell>{{activity.maxPlaces}}</td>
        <td md-cell>{{activity.shortDescription}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="actListCtrl.itemsPage" md-page="actListCtrl.page"
  md-total="{{actListCtrl.numEle}}" md-page-select="true"
  md-boundary-links="false" md-on-paginate="actListCtrl.onPageChange()"
  limitOptions="[5]" >
</md-table-pagination>
